// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

$sans: "BiauKai", "Optima", sans-serif, "Microsoft YaHei", "STHeiti" ;//正文字体
$serif: "Baskerville", serif;//正文
$mono: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;//代码字体
$heading-font-family: "Verdana", $sans, sans-serif;//文章标题 Verdana
$header-title-font-family: "Futura", $sans,  sans-serif;//博客标题字体
$header-subtitle-font-family: "Futura", $sans, sans-serif;//博客子标题字体
//$heading-font-family: arial, sans-serif;
//$header-title-font-family: arial, sans-serif;
//$header-subtitle-font-family: arial, sans-serif;

$font: $font-default;